.navbar {
  padding: 0;
}

.navbar-transparent {
  position: relative;
}

html {
  height: 100%;
}

.mx-calendar-content {
  width: auto !important;
  height: auto !important;
}

.dropdown {
  cursor: pointer;
}

.invalid-feedback {
  display: block;
}
